[Unit]
Description=Kube-proxy Service
After=network.target
 
[Service]
EnvironmentFile=-{{ KUBE_HOME_PATH }}/etc/kube-config
EnvironmentFile=-{{ KUBE_HOME_PATH }}/etc/kube-proxy
ExecStart={{ KUBE_HOME_PATH }}/bin/kube-proxy \
        $KUBE_LOGTOSTDERR \
        $KUBE_LOG_LEVEL \
        $KUBE_MASTER \
        $KUBE_PROXY_ADDRESS \
        $KUBE_PROXY_HOSTNAME \
        $KUBE_PROXY_ARGS
 
Restart=on-failure
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target
