kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: {{ ansible_eth0['ipv4']['address'] }}
port: 10250
cgroupDriver: cgroupfs
clusterDNS:
- {{ KUBE_SERVICE_DNS_IP }}
clusterDomain: {{ KUBE_CLUSTER_NAME }}.com
failSwapOn: false
authentication:
  anonymous:
    enabled: true
  webhook:
    cacheTTL: 2m0s
    enabled: true
  x509:
    clientCAFile: {{ KUBE_HOME_PATH }}/etc/ssl/ca.pem
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s
maxOpenFiles: 1000000
maxPods: 200
serializeImagePulls: true
failSwapOn: false
fileCheckFrequency: 20s
hairpinMode: promiscuous-bridge
healthzBindAddress: 127.0.0.1
healthzPort: 10248
httpCheckFrequency: 20s
resolvConf: /etc/resolv.conf
runtimeRequestTimeout: 2m0s
