[Unit]
Description=Kube-controller-manager Service
After=network.target
 
[Service]
EnvironmentFile=-{{ KUBE_HOME_PATH }}/etc/kube-config
EnvironmentFile=-{{ KUBE_HOME_PATH }}/etc/kube-controller-manager
ExecStart={{ KUBE_HOME_PATH }}/bin/kube-controller-manager \
          $KUBE_LOGTOSTDERR \
          $KUBE_LOG_LEVEL \
          $KUBE_MASTER \
          $KUBE_CONTROLLER_MANAGER_ARGS
 
Restart=on-failure
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target
